@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #0f172a;
}

body.light {
  background-color: #f8fafc;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

html.light ::-webkit-scrollbar-thumb {
  background: #e2e8f0;
}

html.light ::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}
